body {
    background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.container {
    text-align: center;
    height: 62vh;
    padding-top: 25vh;
}

/* heading */
h1 {
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    margin: 0 auto;
    padding: 1vh 1vw;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

/* about mehfil */
p {
    font-size: 19px;
    margin-top: 3vh;
}