.card{
    border-radius: inherit;
    background: #fff;
    /* box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05); */
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card2{
    position: relative;
    left:350px;
}
.btn1{
    position: relative;
    left:190px;
    top:-44px;
}
.img1{
    position: relative;
    top: 30px;
}
.carousel1{
    position: relative;
    left:200px;
}
body{
    position: relative;
    top:20px;
}
.carousel{
  border-radius: 1%;
  overflow: hidden;
}
.top{
    position: fixed;
    top: 700px;
    right: 65px;
    z-index: 70;
    border-radius:50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none;
} 

form {
    width: 300px;
    text-align: center;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  .decrease {
    border-radius: 8px 0 0 8px;
    position: relative;
    top:-44px;
    left:170px;
    height: 25px;
    width: 20px;
  }
  
 .increase {
    border-radius: 0 8px 8px 0;
    position: relative;
    top:-44px;
    left:158px;
    height: 25px;
    width: 20px;
  }
  
  form #input-wrap {
    margin: 0px;
  }
  
  input#number1,#number2,#number3,#number4,#number5,#number6,#number7,#number8,#number9,#number10,#number11
  ,#number12,#number13,#number14,#number15,#number16,#number17,#number18,#number19,#number20,#number21
  ,#number22,#number23,#number24,#number25{
    text-align: center;
    border: none;
    position: relative;
    top:-44px;
    left:165px;
    width: 38px;
    height: 21px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .qnt{
    position:relative;
    left:195px;
    font-size: 14px;
    top:-20px;
  }