.row1{
    position: relative;
    left:200px;
    top:50px;
    width:1200px;
}
.card{
    border-radius: inherit;
    background: #fff;
    /* box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05); */
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.img-rounded{
    border-radius: 1.5%;
}
.nav{
 opacity: 10%;
}